body {
    margin: 0;
    background-color: grey;
    --dile-nav-padding-x: 3rem;
    --dile-tab-text-color: #c6c6a3;
    --dile-toast-success-color: #349454;
    --dile-toast-error-color: #4e1629;
    --dile-toast-text-color: #edf418;
    --dile-toast-font-weight: bold;
    --dile-toast-font-size: 1.2rem;
    --dile-toast-border-radius: 1rem;
    --dile-button-font-size: 0.75rem;
}

eit-info-overlay {
    --eit-info-overlay-icon-color: #481a29;
}

header div {
    margin-bottom: 1rem;
    border-radius: 10px;

}

header dile-nav {
    border-radius: 10px;
}

header dile-nav span button {
    padding: 0.5rem 1.5rem;
    border-radius: 10px;
    color: #ccc;
    background-color: #4e1629;
}

header div {
    display: none;
    position: fixed;
    top: 2.5rem;
    right: 1rem;
    padding: 1rem;
    background-color: #607060;
    border: 3px solid #023302b0;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.526);
}

#buttonsId {
    display: flex;
    margin: 1% 25%;
    justify-content: space-around;

}

footer {
    position:fixed;
    bottom:0;
    width:100%;
    text-align: center;
    background-color: #60706099;
    color:#ccc;
}


@media (max-width: 500px) {

    header {
        margin-bottom: 5rem;
    }
}