body {
    margin: 0;
    background-color: grey;
    --dile-tab-text-color: #c6c6a3;
    --dile-toast-success-color: #349454;
    --dile-toast-error-color: #4e1629;
    --dile-toast-text-color: #edf418;
    --dile-toast-font-weight: bold;
    --dile-toast-font-size: 1.2rem;
    --dile-toast-border-radius: 1rem;
}

header {
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: #607060;
    border: 3px solid #023302b0;
    border-radius: 10px;
    box-shadow: 5px 5px black;
}

#buttonsId {
    display: flex;
    margin: 1% 25%;
    justify-content: space-around;

}

footer {
    width: 300%;
    text-align: center;
}